.camper{
  font-size: 2em;
  display: flex;
}
.odd{
  background-color: white;
}
.even{
  background-color: #ccc;
}
.campcell{
  display: inline;
  border: 2px solid #bbb;
}
.wrap{
  word-wrap: break-word;
}
